body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #3ba1f5;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}

nav li:hover {
  background-color: #246ba5;
  
}

nav a {
  color: black;
  text-decoration: none;
}

section {
  padding: 2rem;
  text-align: center;
}

footer {
  background-color: #3ba1f5;
  color: white;
  padding: 1rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

h2 {
  text-align: center;
  color: #333;
}

input {

  margin-right: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 8px 0;
  padding: 8px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #f49e36;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
}

.list {
  display: flex;
  justify-content: center;
}


img {
  width: 300px;
  height: 300px;
}